*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
}
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 1px solid rgba(0,0,0,0.5);
    color: white;
    background-color: green;
    text-decoration: none;
    
}

button a{
color: white;
text-decoration: none;
}

.Info{
    background-color: green;
    opacity: 50%;;
    font-weight: bold;
    border-radius: 10px;
}

.Info a{
    padding: 13px;
}
.Info{
    display: none;
}

.desplegable:hover .Info{
    display: block;
}

button:hover{
    background-color: rgb(2, 97, 2);
    
}

.container{
    max-width: 1400px;
    margin:auto; 
}



header{ 
    background-color: rgba(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(0,120,0);
    font-size: 1.6em;
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:black
}

header a:hover{
    color: green;
}

#hero{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("contador/cooperation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#Somos-JRGuerrerosContadores{
    text-align: center;
    padding: 90px 12px;
}

#Nuestros-Servicios{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Nuestros-Servicios .container{
    padding: 150px 12px;
}

#Nuestros-Servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Nuestros-Servicios p{
    display: none;
}

#Nuestros-Servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("contador/accountant.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("contador/contador.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("contador/finance.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 150px 12px;
}


#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;

}


#Contáctanos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30,30,30);
    color: white;
    height: 80vh;
}

#Contactános{
    padding: 250px 12px;
}

#Contáctanos li{
    margin: 16px 0px;
    font-weight: bold;
}


footer{
    background-color: rgba(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgba(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

}


header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

#Somos-JRGuerrerosContadores .container{
    display: flex;
    justify-content: space-evenly;

}

#Somos-JRGuerrerosContadores .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Somos-JRGuerreros-Contadores h2{
    margin-top: 0px;
}
#Somos-JRGuerrerosContadores .img-container{
    background-image: url("contador/JR-GUERREROS-CONTADORES.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 800px;
}
#caracteristicas{
background-image: url("contador/office.jpg");
background-repeat: no-repeat;
background-size: 500px 400px;
background-position: 900px 120px;
}

#caracteristicas .container{
text-align: initial;
}

#caracteristicas ul{
    margin-left: 100px;
}

#caracteristicas .container{
    text-align: initial;
}

#caracteristicas ul{
    margin-left: 100px;
}

@media (min-width: 1100px){
    #caracteristicas{
        background-position-x: calc(100ww - 800px);
    }
}

a{
    text-decoration: none;
    color: white;
}